<div class="inputs">
  <!-- Fecha en específico -->
  <div class="onde-date">
    <mat-form-field *ngIf="showFilter">
      <mat-label>Filtrar por fecha</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="oneDate"

      />
      <!-- (dateChange)="filterByDate($event)" -->
      <button
        *ngIf="oneDate"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearFilter()"
      >
        <mat-icon color="accent">close</mat-icon>
      </button>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Hora en específico -->
    <mat-form-field>
      <mat-label>Hora Formato 24h (ej 18:00)</mat-label>
      <input type="time" matInput [(ngModel)]="time" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="filterByDate()">Filtrar por Fecha</button>

  </div>

  <!-- Rango de fechas -->
  <mat-form-field appearance="fill">
    <mat-label>Filtrar por rango de fechas</mat-label>
    <mat-date-range-input [rangePicker]="rangePicker">
      <input matStartDate [(ngModel)]="startDate" placeholder="Inicio" />
      <input matEndDate [(ngModel)]="endDate" placeholder="Final" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matSuffix
      [for]="rangePicker"
    ></mat-datepicker-toggle>
    <mat-date-range-picker #rangePicker>
      <mat-date-range-picker-actions>
        <button mat-button matDateRangePickerCancel>Cancelar</button>
        <button
          mat-raised-button
          color="primary"
          matDateRangePickerApply
          (click)="filterByRangeDate()"
        >
          Ok
        </button>
      </mat-date-range-picker-actions>
    </mat-date-range-picker>
    <button
      *ngIf="startDate || endDate"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearFilter()"
    >
      <mat-icon color="accent">close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="humedad">
      <th mat-header-cell *matHeaderCellDef>Humedad</th>
      <td mat-cell *matCellDef="let element">{{ element?.humedad }} %</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="temperatura">
      <th mat-header-cell *matHeaderCellDef>Temperatura</th>
      <td mat-cell *matCellDef="let element">{{ element?.temperatura }} °C</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="presion">
      <th mat-header-cell *matHeaderCellDef>Presion</th>
      <td mat-cell *matCellDef="let element">{{ element?.presion }} kPa</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="luz">
      <th mat-header-cell *matHeaderCellDef>Luz</th>
      <td mat-cell *matCellDef="let element">{{ element?.luz }} Luxes</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="lluvia">
      <th mat-header-cell *matHeaderCellDef>¿Llueve?</th>
      <td mat-cell *matCellDef="let element">{{ element?.lluvia }} {{ element?.lluvia <= 600 ? '(Si)' : '(No)' }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="viento">
      <th mat-header-cell *matHeaderCellDef>Viento</th>
      <td mat-cell *matCellDef="let element">{{ element?.viento }} km/h</td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="co">
      <th mat-header-cell *matHeaderCellDef>CO</th>
      <td mat-cell *matCellDef="let element">{{ element?.co }} CO</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
    class="mat-paginator-sticky"
  >
  </mat-paginator>
</div>
