::ng-deep {
  .mat-tab-labels {
    justify-content: center;
  }
  .mat-tab-label {
    opacity: 1 !important;
  }
  .mat-badge-accent .mat-badge-content {
    background-color: red !important;
    border: solid 1px red !important;
  }
}


.alarms {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 400px;
  flex-direction: column;
  row-gap: 30px;

  .inputs {
    display: flex;
    gap: 50px;
  }
}


.dates {
  display: flex;
  flex-direction: column;

  .date {
    display: flex;
    gap: 30px;
  }

  button {
    width: 10%;
  }
}

.badge-custom {
  position: relative;
  top: -10px;
  left: 22px;
  z-index: 10;

}


.graficas {
  // display: flex;
  // justify-content: space-between;
}
